.chat {
  background-color: white;
  display: flex;
  border-radius: 20px;
  margin-bottom: 15px;
  cursor: pointer;
  .delete_icons {
    margin-left: 6vw;
    margin-top: 1vw;
    height: 4vw;
    width: 3.5vw;
    animation: pulse 3s 1;
  }
  .chat_login {
    font-size: 2vw;
    margin: 15px 0 0 5px;
  }
  img {
    margin: 10px;
    border-radius: 50%;
    height: 5vw;
    width: 5vw;
  }
}
@keyframes pulse {
  0% {
    opacity: 0; /*Уровень прозрачности элемента*/
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
