.sign {
  margin-left: 25%;
  margin-top: 4vw;
  background-color: rgb(71, 71, 255);
  border-radius: 10px;
  min-width: min-content;
  max-width: 50%;
  padding: 10px;

  .sign_in, .sign_up {
    font-size: xxx-large;
    color: white;
    margin-left: 42%;
    margin-top: 30px;
  }

  .sign_up {

    margin-left: 30%;
  }

  .input_login,
  .input_password {
    margin-top: 30px;
    margin-left: 30%;
    min-width: 40%;
    min-height: 23px;
    border-radius: 5px;
  }

  .div_link {
    width: 40%;
    height: 2vw;
    font-size: 130%;
    border: 0ch;
    border-radius: 5px;

    background-color: white;
    margin-left: 30%;
    margin-top: 30px;
    padding: 5px;
    margin-bottom: 40px;
  }
}

a {
    width: 40%;
  text-decoration: none;
  color: rgb(83, 83, 255);
  margin-left: 15%;
}

button {
  width: 41%;
  height: 3vw;
  font-size: 130%;
  border: 0ch;
  border-radius: 5px;
  color: rgb(83, 83, 255);
  margin-left: 30%;
  margin-top: 30px;
}
