.wrapper_left::-webkit-scrollbar {
  display: none;
}
.wrapper_left {
  display: flex;
  flex-direction: column;
  margin: 20px 0% 20px 2%;
  width: 69%;
  max-height: 37vw;
  overflow-x: scroll;
  .posts_input {
    width: 75%;
    margin-top: 10px;
  }
  .addpost_button {
    width: 19%;
    margin-left: 4%;
    border-radius: 3px;
    background-color: rgb(71, 71, 255);
    color: white;
    border: 2px solid rgb(71, 71, 255);
  }
  .addpost_photo {
    background-color: white;
    font-size: 50px;
    height: 150px;
    font-size: 600%;
    text-align: center;
    width: 100%;
    border-radius: 10px;
    border: 0px solid;
    color: rgb(71, 71, 255);
  }
}
.content {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  margin-top: 20px;
  .text {
    margin-left: 3%;
    margin-right: 3%;
    font-size: large;
    margin-top: 10px;
  }

  img {
    margin-top: 20px;
    width: 94%;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 3%;
  }
  .posts_buttons {
    display: flex;
    margin-bottom: 1.5vw;
  }
  .like {
    cursor: pointer;
    font-size: 2.5vw;
    margin-left: 3%;
  }

  .comment {
    cursor: pointer;
    font-size: 2.5vw;
    margin-left: 5%;
  }
  .counter_likes {
    margin-left: 0.1vw;
    font-size: 1.8vw;
  }
}
