.links {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 20px;

    a, div {
        text-decoration: none;
        font-size: x-large;
        color: rgb(83, 83, 255);
        width: 200px;
        padding: 10px;
    }
    a:hover, div:hover {
        background-color: rgb(71, 71, 255);
        border-radius: 10px;
        color: white;
    }
    .iconsNav {
        margin-right: 10px;
    }
}