.wrapper {
  border-radius: 20px;
  width: 100%;
  background-color: #d7d7d7;
  display: flex;
  margin-right: 1%;

  .wrapper_left {
    display: flex;
    flex-direction: column;
    margin: 1vw 0% 1vw 2%;
    width: 69%;
    max-height: 37vw;

  }
  .back_toposts {
    background-color: rgb(71, 71, 255);
    color: white;
    border: 0;
    border-radius: 5px;
    height: 2.6vw;
    width: 10vw;
    font-size: 1.3vw;
    margin: 1vw 0 1vw 0;
    cursor: pointer;
  }
}
