// .wrapper {
//   border-radius: 20px;
//   width: 80%;
//   background-color: #d7d7d7;
//   display: flex;
//   box-sizing: border-box;
//   border: 1px solid black;

//   .wrapper_left {
//     display: flex;
//     flex-direction: column;
//     margin: 1vw 0% 1vw 2%;
//     width: 69%;
//     max-height: 37vw;

//   }
//   .back_toposts {
//     background-color: rgb(71, 71, 255);
//     color: white;
//     border: 0;
//     border-radius: 5px;
//     height: 2.6vw;
//     width: 10vw;
//     font-size: 1.3vw;
//     margin: 1vw 0 1vw 0;
//     cursor: pointer;
//   }
// }

.myPage {
  width: 80%;
  display: flex;
  flex-direction: column;
  height: max-content;
  padding: 20px 20px 0 0;
  box-sizing: border-box;
  .backgroundCase {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: -1;
    position: relative;

    .backgroundImg {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      width: 100%;
      height: 30vh;
      object-fit: cover;
    }
    .photoCase {
      box-sizing: border-box;
      position: absolute;
      background-color: white;
      left: 5%;
      bottom: -11%;
      z-index: 10;
      display: flex;
      border: 3px solid white;
      border-radius: 50%;
      object-fit: contain;
      height: 150px;
      width: 150px;
      cursor: default;

      .editUserPhoto {
        position: absolute;
        left: 120px;
        top: 100px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: white;
        cursor: pointer;
      }

      .photo {
        width: 100%;
        border-radius: 50%;
      }
    }
    .editBackground {
      box-sizing: border-box;
      position: absolute;
      background-color: white;
      right: 5%;
      bottom: 10%;
      padding: 5px 10px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      display: flex;
      justify-content: center;
      gap: 5px;
      cursor: pointer;

      .upload {
        width: 20px;
        height: 20px;
      }
      .uploadText {
        font-size: 9px;
      }
    }
  }
  .emptyBlock {
    height: 16vh;
    box-shadow: 0 2px 3px 0.1px gray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    
    .info {
      width: max-content;
      .name {
        margin-bottom: 10px;
        color: rgb(69, 69, 69);
      }
      .aboutme {
        color: #5a5a58;
        font-size: 12px;
      }
    }
    .editName {
      display: flex;
      box-sizing: border-box;
      background-color: #f6f7f8;
      right: 5%;
      bottom: 10%;
      padding: 5px 10px;
      border-radius: 10px;
      align-items: center;
      justify-content: center;
      gap: 5px;
      cursor: pointer;

      .edit {
        width: 20px;
        height: 20px;
      }
      .editText {
        font-size: 10px;
      }
    }
  }
}
